<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079058550896-pod9vbs9fr8a6gkgvfkhpletbnfve6o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079058550896-pod9vbs9fr8a6gkgvfkhpletbnfve6o5</string>
	<key>API_KEY</key>
	<string>AIzaSyAhEbl56BBdbnubNhmDnFJnyVK8rMjtkck</string>
	<key>GCM_SENDER_ID</key>
	<string>1079058550896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolist-ebcae</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ebcae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079058550896:ios:35c549ad4b2491bfb464b5</string>
</dict>
</plist>